<footer class="footer">
  <small>
    <a href="https://github.com/leon-ng9/UNSW-degree-tracker">UNSW Degree Tracker</a> by Leon and Mark
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>